<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969353545665-78434s5sbv50kp3q848pp1aodfnvugps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969353545665-78434s5sbv50kp3q848pp1aodfnvugps</string>
	<key>API_KEY</key>
	<string>AIzaSyCj5ekEPnhH3U4R4sjebsABRMXYtOOqcA0</string>
	<key>GCM_SENDER_ID</key>
	<string>969353545665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adminStatAutos</string>
	<key>PROJECT_ID</key>
	<string>a18s-app</string>
	<key>STORAGE_BUCKET</key>
	<string>a18s-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969353545665:ios:80a3cb8f3169da7198d140</string>
</dict>
</plist>